# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Production build
dist/

# Environment variables
.env
.env.local
.env.*.local

# Editor directories and files
.vscode/
.idea/
.DS_Store

# Optional: MacOS specific
*.swp
